<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>We received a transaction:</p>
<table>
<tr><td><strong>Account</strong></td><td>{{ account }}</td></tr>
<tr><td><strong>Date</strong></td><td>{{ date }}</td></tr>
<tr><td><strong>Merchant</strong></td><td>{{ merchant }}</td></tr>
<tr><td><strong>Amount</strong></td><td>{{ amount }}</td></tr>
</table>
<!-- Strangely, on iOS (using the Mail app or the Gmail app) this POST form seems to get submitted to the server a GET request?! -->
<!-- And, when it is, we seem to lose what should be the POST body parameters - they aren't put into the GET request as query parms -->
<!-- Seems to be the same issue documented here: -->
<!-- http://stackoverflow.com/questions/24765042/gas-ios-mail-app-embedded-html-forms-method-converted-from-post-to-get -->
<!-- So my workaround is for this form to be a GET rather than a POST, which offends my HTTP/REST sensibilities but seems necessary -->
<!-- <form method="POST" action="{{ post_url }}"> -->
<form method="GET" action="{{ post_url }}">
<input type="hidden" name="verif-attempt-id" value="{{ verif_attempt_id }}"/>
<p>Can you verify this transaction?</p>
<p><label><input type="radio" name="verified" value="Yes" checked="checked"/>Yes</label></p>
<p><label><input type="radio" name="verified" value="Yes amount correction"/>Yes, but correct it to: </label>
<input type="text" name="corrected-amount" size="10" value="{{ amount }}"/></p>
{% if superuser is sameas true %}
<p><label><input type="radio" name="verified" value="Yes verifier correction"/>Yes, but as this user: </label>
<select size=1 name="corrected-verifier">
    <option value="0" selected="selected"/>
    {% for user in possible_other_verifiers %}
    <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
</select></p>
{% endif %}
<p><label><input type="radio" name="verified" value="No"/>No, forward it to:</label>
<select size=1 name="forward-to">
    <option value="0" selected="selected"/>
    {% for user in possible_other_verifiers %}
    <option value="{{ user.id }}">{{ user.name }}</option>
    {% endfor %}
</select></p>
<!-- Not using the "attributed to" functionality for now - it might be more confusing/burdensome that it's worth
<p>Who (apparently) made this transaction?</p>
<select size=1 name="attributed-to">
    <option value="0"/>
    {% for user in possible_attributed_tos %}
    <option value="{{ user.id }}"{% if default_attributed_to.id == user.id %} selected="selected"{% endif %}>{{ user.name }}</option>
    {% endfor %}
</select>
-->
<p><strong>You are: </strong>{{ verifier.name }}
{% if superuser is sameas true %}
<font color="red"> (superuser)</font></p>
{% endif %}
<p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>
